---
// import { Image } from '@astrojs/image/components';

//  const image = { src: import('~/assets/images/logo.svg'), alt: 'AstroWind Hero Image' };
import logo1 from '../assets/images/logo1.svg';
import logo2 from '../assets/images/logo2.svg';
//import logov1 from '../assets/images/logov1.png';

---

<img src={logo1} class="self-center h-auto max-w-full" style="height: 35px" />
<span class="self-center text-2xl md:text-3xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
 akin</span>
 <img src={logo2} class="self-center h-auto max-w-full" style="height: 35px" />
 <span class="self-center text-2xl md:text-3xl font-bold text-gray-900 whitespace-nowrap dark:text-white">oft</span>


 <script>
    
 </script>